a {text-decoration: none;
color:white;}


.coverpic{
  width: 100%;
  height: 100%;
}

.wrapper {
  background-image: url(.../images/auto.jpg)fixed bottom center;
  background-size: cover;
}


table {
  display: inline;
  border-spacing: 15px;
}

div h3{
  float:right;
  margin-right: 50px;
  text-align: center;
  margin-top: 100px;
  font-family: font-family: 'Quicksand', sans-serif;
}

.scrollbar{
  width: 5333.33333pt;
  height:400px;
  margin-left: 0;
  margin-right: 0;
}

.scrollbar-inc{
  width: 7687.5pt;
  height:600px;
  margin-left: 0;
  margin-right: 0;
}

.scrollbar-pen{
  width: 3000pt;
  height:600px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.scrollbar-fotos{
  width: 9000pt;
  height:600px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 200px;
}

.scrollbar-fineliner{
  width: 2000pt;
  height:400px;
  margin-left: 0;
  margin-right: 0;
}

.scroll-box{
  width: 90%;
  float:right;
  height:400px;
  white-space:nowrap;
  overflow-x:inherit;
  overflow-y:hidden;
  margin-left: 0;
  margin-right: 0;
}

.scroll-box-fotos{
  width: 90%;
  float:right;
  height:800px;
  white-space:nowrap;
  overflow-x:inherit;
  overflow-y:hidden;
  margin-left: 0;
  margin-right: 0;
}

.illu {
    background-color: rgba(0, 0, 0, 1);
    height: 400px;
    width: 400px;
    margin: 20px;
    border: 1px white;
}


.impressum{
  font-size: 12;
  color: black;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

a.menu:hover{
  font-weight:bold;
}

.collage{
  width:450px;
  height:600px;
  display: block;
  margin: 0px auto;
}

.pappe{
  text-align: center;
  height: 600px;
  margin: 50px;
}

.navimg{
  display:inline-block;
  height: 300px;
  width: 250px;
  background-size:cover;
}

.navimg-quer{
  display:inline-block;
  height: 300px;
  width: 400px;
  background-size:cover;
}

.bigger {
  font-family: 'Amatic SC', Helvetica;
  font-size:60px;
  font-weight: bold;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);;
  height: 50px;
  position: fixed; top: 0; right: 0; left: 0;
  width: 100%;
  margin: auto;
  text-align:center;
}


.bothbuttons {
  padding-right: 200px;
  padding-top: 15px;
  float: right;
}

.button {
  width: 100px;
  text-align: center;
  color:white;
  font-size: 20px;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px;
  margin-top: 30px;
}

.row {display: inline-block;
width: 100%;
}

.left {float: left;
  margin: 50px;
  display: inline;
  width: 10%;
}

.smallspace {
  height: 7px;
  width: 20px;
}

.space {
  height: 30px;
  width: 100%;
}


.sketches{
  padding-bottom: 100px;
  margin-top: 50px;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.blank{
  background-color: white;
}
@media screen and (max-width: 1013px){

  .navimg{
    display:inline-block;
    height: 150px;
    width: 125px;
    background-size:cover;
  }

  .navimg-quer{
    display:inline-block;
    height: 150px;
    width: 200px;
    background-size:cover;
  }

}

@media screen and (max-width: 768px){
  img {
    height: 250px;
    width: 350px;
    margin: 60px;
  }

  .header {
    background-color: rgba(0, 0, 0, 0.8);;
    height: 150px;
    position: fixed; top: 0; right: 0; left: 0;
    width: 100%;
    margin: auto;
    text-align:center;
    margin-bottom: 50px;
  }

  .bothbuttons {
    padding-top: 15px;
    position: center;
  }

  .button {
    width: 100px;
    text-align: center;
    color:white;
    font-size: 20px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    margin-top: 30px;
  }

  .navimg{
      display:block;
      height: 250px;
      width: 200px;
      background-size:cover;
      margin:0 auto;
    }

  .navimg-quer{
      margin:0 auto;
      display:block;
      height: 150px;
      width: 200px;
      background-size:cover;
    }

}
